@font-face {
    font-family: 'Darker Grotesque';
    src: url('DarkerGrotesque-ExtraBold.eot');
    src: url('DarkerGrotesque-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('DarkerGrotesque-ExtraBold.woff2') format('woff2'),
        url('DarkerGrotesque-ExtraBold.woff') format('woff'),
        url('DarkerGrotesque-ExtraBold.ttf') format('truetype'),
        url('DarkerGrotesque-ExtraBold.svg#DarkerGrotesque-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Darker Grotesque Regular';
    src: url('DarkerGrotesque-Regular.eot');
    src: url('DarkerGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('DarkerGrotesque-Regular.woff2') format('woff2'),
        url('DarkerGrotesque-Regular.woff') format('woff'),
        url('DarkerGrotesque-Regular.ttf') format('truetype'),
        url('DarkerGrotesque-Regular.svg#DarkerGrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Space Mono';
    src: url('SpaceMono-Regular.eot');
    src: url('SpaceMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('SpaceMono-Regular.woff2') format('woff2'),
        url('SpaceMono-Regular.woff') format('woff'),
        url('SpaceMono-Regular.ttf') format('truetype'),
        url('SpaceMono-Regular.svg#SpaceMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html {
    scroll-behavior: smooth;
}
.h1 {
    font-family: "Darker Grotesque";
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 55px;
    letter-spacing: 0.01em;
    color: #2B355A;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.h3 {
    font-family: "Darker Grotesque";
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #000000;
    padding-top: 30px;
}
span {
    display: block;
}
p, span {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #2B355A;
    margin: 0;
    padding: 0;
}
a.button {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.08em;
    color: #2B355A;
    background: #F7F7F2;
    border: 2px solid #2B355A;
    padding: 0px 24px;
    min-height: 26px;
    text-align: center;
    box-shadow: none;
}
.text-center {
    text-align: center;
}

@media (min-width: 750px) {
    .medium-half {
        width: 50%;
    }
    .desktop-hide {
        display: none;
    }
}

@media (max-width: 749px) {
    .small-one {
        width: 100%;
    }
    .small-half {
        width: 50%;
    }
    a.button {
        font-size: 11px;
        min-height: 21px;
        padding: 0 31px;
    }
    .mobile-hide {
        display: none;
    }
}



