@font-face {
    font-family: 'Darker Grotesque';
    src: url('DarkerGrotesque-ExtraBold.eot');
    src: url('DarkerGrotesque-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('DarkerGrotesque-ExtraBold.woff2') format('woff2'),
        url('DarkerGrotesque-ExtraBold.woff') format('woff'),
        url('DarkerGrotesque-ExtraBold.ttf') format('truetype'),
        url('DarkerGrotesque-ExtraBold.svg#DarkerGrotesque-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Darker Grotesque Regular';
    src: url('DarkerGrotesque-Regular.eot');
    src: url('DarkerGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('DarkerGrotesque-Regular.woff2') format('woff2'),
        url('DarkerGrotesque-Regular.woff') format('woff'),
        url('DarkerGrotesque-Regular.ttf') format('truetype'),
        url('DarkerGrotesque-Regular.svg#DarkerGrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Space Mono';
    src: url('SpaceMono-Regular.eot');
    src: url('SpaceMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('SpaceMono-Regular.woff2') format('woff2'),
        url('SpaceMono-Regular.woff') format('woff'),
        url('SpaceMono-Regular.ttf') format('truetype'),
        url('SpaceMono-Regular.svg#SpaceMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Calder Dark';
    src: url('Calder-Dark.eot');
    src: url('Calder-Dark.eot?#iefix') format('embedded-opentype'),
        url('Calder-Dark.woff2') format('woff2'),
        url('Calder-Dark.woff') format('woff'),
        url('Calder-Dark.ttf') format('truetype'),
        url('Calder-Dark.svg#Calder-Dark') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html {
    scroll-behavior: smooth;
}
.h1 {
    font-family: "Calder Dark";
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 55px;
    letter-spacing: 0.01em;
    color: #2B355A;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.h3 {
    font-family: "Calder Dark";
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #000000;
    padding-top: 30px;
}
span {
    display: block;
}
p, span {
    font-family: "Calder Dark";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #2B355A;
    margin: 0;
    padding: 0;
}
a.button {
    font-family: "Calder Dark";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.08em;
    color: #2B355A;
    background: #F7F7F2;
    border: 2px solid #2B355A;
    padding: 0px 24px;
    min-height: 26px;
    text-align: center;
    box-shadow: none;
}
.text-center {
    text-align: center;
}
.announcement-bar {
    border: none;
}
.header__menu-item span {
    font-size: 13px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
.header__active-menu-item {
    color: #CA8787;
    text-decoration: none;
}
.announcement-bar__message {
    font-size: 12px;
    letter-spacing: 0.08em;
    color: #2B355A;
    font-family: 'Calder Dark';
}
.cart-count-bubble {
    background: #2b355a;
}
.cart-count-bubble span {
    color: white;
}
.header__icon--menu span {
    color: #A2B699;
}
.footer__content-bottom {
    display: none;
}
.footer-block__details-content p {
    font-family: 'Calder Dark';
    line-height: 35px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #F7F7F2;
}
@media (min-width: 990px) {
    .header--middle-left {
        grid-template-areas: "heading navigation second-navigation icons";
    }
    .header--top-left {
        grid-template-areas: 
            "heading icons"
            "navigation second-navigation";
    }
    .header--top-center {
        grid-template-areas:
        "left-icon heading icons"
        "navigation navigation navigation"
        "second-navigation second-navigation second-navigation";
    }
    .header--middle-center {
        grid-template-areas: "navigation heading second-navigation icons";
        grid-template-columns: 2fr 1fr 1.5fr 0.5fr;
    }
    .header--middle-center .header__heading-link, .header--middle-center .header__heading {
        justify-self: center;
    }
    .header--middle-center .header__inline-menu.second {
        justify-self: right;
    }
    .header__inline-menu.second {
        display: block;
    }
}
@media (min-width: 750px) {
    .medium-half {
        width: 50%;
    }
    .desktop-hide {
        display: none;
    }
    .footer-block__details-content p {
        font-size: 28px;
    }
}

@media (max-width: 749px) {
    .small-one {
        width: 100%;
    }
    .small-half {
        width: 50%;
    }
    a.button {
        font-size: 11px;
        min-height: 21px;
        padding: 0 31px;
    }
    .mobile-hide {
        display: none;
    }
    .footer-block__details-content p {
        line-height: 12px;
    }
}



