.cyo-section {
    background: #F7F7F2;
}
.cyo-section .flex {
    display: flex;
    /* align-items: center; */
    align-items: flex-start;
    justify-content: space-between;
}
.cyo-header {
    overflow: hidden;
}
.cyo-header-wrapper {
    position: relative;
}
.cyo-header-title {
    text-align: center;
    width: 70%;
    /* padding: 80px 0px 150px; */
    padding: 25px 0;
}
.cyo-title-wrapper {
    /* padding: 30px; */
    padding: 10px;
    border-top: 1px solid #000000;
    border-bottom: 3px solid #ADCEB0;
}
.cyo-header-image {
    width: 15%;
    position: relative;
}
.cyo-header-image .absolute-wrapper img {
    /* width: 100%;  */
    width: 26%;
}
.cyo-heading {
    color: #CA8787;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 1;
}
.cyo-heading.medium {
    /* font-size: 47px; */
    font-size: 22px;
    line-height: 1;
}
.cyo-content {
    margin-top: 0px;
}
.cyo-main-wrapper {
    text-align: center;
    max-width: 500px;
    position: relative;
    margin: 0 auto;
}
.cyo-main-wrapper .main-image img {
    max-width: 125px;
}
.cyo-content .item-heading {
    font-size: 30px;
    text-transform: uppercase;
    color: #2B355A;
    line-height: 55px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.06em;
}
@media (min-width: 961px) {
    .cyo-content .cyo-content-options .item-heading {
        font-size: 22px;
    }
}
.cyo-content .item-heading.active {
    color: #CA8787;
}
.cyo-content .item-text p {
    font-size: 16px;
    line-height: 24px;
}
/* .cyo-content .main-image {
    text-align: right;
    padding-right: 20px;
} */
.cyo-section .cyo-content-main {
    justify-content: center;
}
.cyo-option-item:hover {
    cursor: pointer;
}
.cyo-option-item img {
    /* max-width: 99px; */
    max-width: 60px;
}
.cyo-option-item img.deactive {
    display: none;
}
.cyo-options-wrapper {
    max-width: 824px;
    margin: 0 auto;
}
.cyo-content-options {
    /* padding: 50px 0px; */
    padding: 30px 0px;
}
.cyo-bottom-image {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: -1;
}
.cyo-content-bottom {
    padding-bottom: 80px;
}
.cyo-bottom-wrapper {
    max-width: 420px;
    margin: 0 auto;
    padding: 100px 20px;
    position: relative;
    z-index: 1;
}
.cyo-bottom-wrapper p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
}
.cyo-button a.button--primary {
    text-transform: uppercase;
    background: #ADCEB0;
    padding: 10px 60px;
}
@media (max-width: 960px) {
    .cyo-header-image .absolute-wrapper img {
        width: 43%;
    }
    .cyo-header-title {
        /* padding: 40px 0px 80px; */
        padding: 25px 0px;
    }
    .cyo-heading {
        font-size: 30px;
    }
    .cyo-heading.medium {
        font-size: 22px;
    }
    .cyo-content .item-heading {
        font-size: 20px;
    }
    .cyo-section .cyo-options-wrapper.flex {
        justify-content: space-evenly;
    }
    .cyo-content {
        margin-top: 0;
    }
}

@media (max-width: 749px) {
    .cyo-header-image {
        display: none;
    }
    .cyo-section .cyo-header-wrapper.flex {
        flex-direction: column;
    }
    .cyo-header-title {
        text-align: center;
        width: 100%;
        padding: 0;
    }
    .cyo-title-wrapper {
        border: unset;
        padding: 30px 15px;
    }
    .cyo-heading, .cyo-heading.medium {
        font-size: 15px;
        color: #2B355A;
    }
    .cyo-content .main-image {
        padding: 0px 40px;
    }
    .cyo-content .main-image img {
        max-width: 150px;
    }
    .cyo-content .cyo-content-main .item-heading {
        position: absolute;
        /* top: 40%; */
        font-size: 40px;
        /* left: 10px; */
    }
    .cyo-center-image {
        position: absolute;
        /* top: 0;
        left: 30px; */
    }
    .cyo-content-options {
        padding: 20px 0;
    }
    .cyo-content .cyo-content-options .item-heading {
        font-size: 9px;
    }
    .cyo-option-item img {
        max-width: 50px;
    }
    .cyo-button a.button--primary {
        font-size: 12px;
        font-weight: bold;
        padding: 10px 40px;
    }
    .cyo-content-bottom {
        padding-bottom: 40px;
    }
    .cyo-bottom-wrapper {
        padding: 0px 20px;
    }
    .cyo-main-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}