.banner-wrapper {
    display: flex;
    min-height: 534px;
    position: relative;
    align-items: center;
}
.banner-wrapper .banner-image {
    position: relative;
    min-height: 534px;
    z-index: 1;
}
.banner-wrapper .banner-image img {
    max-width: 650px;
    position: absolute;
    right: 0;
    top: 0;
}
.banner-wrapper .banner-content {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 50px;
    z-index: 2;
}
.banner-wrapper .content-wrapper {
    max-width: 411px;
}
.banner-wrapper .banner-heading, .banner-wrapper .banner-subheading {
    margin: 0;
}
.banner-wrapper .content-wrapper .banner-text {
    padding: 20px 0px;
}
/* About Us page */
.banner-wrapper.page-banner {
    align-items: flex-start;
    z-index: -1;
}
.banner-wrapper.page-banner, .banner-wrapper.page-banner .banner-image {
    min-height: 640px;
}
.banner-wrapper.page-banner .banner-heading {
    text-transform: uppercase;
}
.banner-wrapper.page-banner .banner-text p {
    font-family: "Calder Dark";
    font-size: 23px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}
.banner-wrapper.page-banner .banner-content {
    padding-right: 0;
}
.banner-wrapper.page-banner .content-wrapper {
    max-width: unset;
}
.banner-wrapper.page-banner .banner-subheading, .banner-wrapper.page-banner .content-wrapper .banner-text {
    max-width: 440px;
}

@media (max-width: 960px) {
    .banner-wrapper .banner-image img {
        position: relative;
        width: 100%;
        height: auto;
        float: right;
    }
    .banner-wrapper .banner-heading {
        font-size: 40px;
        line-height: 1;
    }
    .banner-wrapper, .banner-wrapper .banner-image {
        min-height: unset;
    }
    .banner-wrapper.page-banner, .banner-wrapper.page-banner .banner-image {
        min-height: unset;
    }
    .banner-wrapper.page-banner .banner-subheading {
        font-size: 20px;
        line-height: 1.2;
        padding-top: 15px;
    }
    .banner-wrapper.page-banner .banner-text p {
        font-size: 14px;
        line-height: 1.2;
    }
}
@media (max-width: 749px) {
    .banner-wrapper {
        min-height: 350px;
        align-items: flex-start;
        overflow: hidden;
    }
    .banner-wrapper .banner-heading {
        font-size: 20px;
        text-transform: uppercase;
    }
    .banner-wrapper .banner-content {
        padding: 15px;
        padding-top: 30px;
        padding-right: 6px;
    }
    .banner-wrapper .banner-image img {
        min-width: 240px;
        right: -62px;
    }
    .banner-wrapper .content-wrapper .banner-text {
        padding: 10px 0px;
    }
    .banner-wrapper.page-banner .banner-subheading {
        font-size: 13px;
    }
    .banner-wrapper.page-banner .banner-text p {
        font-size: 12px;
    }
    .banner-wrapper.page-banner .banner-content {
        padding: 15px 0px 15px 15px;
    }
}